body {
  background-color: #cccccc;
  width: auto;
  max-width: 50em;
  border-radius: 0.25em;
  padding-top: 0.25em;
  padding-bottom: 1em;
  margin-top: 1em ;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin-left: 2.5em;
  margin-top: 0.25em;
}

li {
  list-style: circle;
  padding: 0.25em;
}

button {
  margin-top: 1em;
}

input {
  margin-bottom: 0.5em;
}

li {
  font-weight: 700;
}

p{
  font-weight: 300;
}

#sendMsg {
  display: flex;
  flex-direction: column;
  width: 40em;
  margin-left: 5em;
}

#text {
  padding: 1em;
  color: #333333;
}

#messages {
  background-color: #eeeeee;
  /* box-shadow: 0.05em 0.05em 0.05em 0.05em; */
  border-radius: 0.5em;
  border: 0.1em;
  border-style: groove;
  width: 40em;
  height: auto;
  min-height: 5em;
  margin-left: 5em;
  margin-top: 1em; 
}

.label { 
  margin-top: 1em;
  margin-left: 5em;
}

.user-1 {
  color: #093145;
}

.user-2 {
  color: #829356;
}

.user-3 {
  color: #ebc944;
}

.user-4 {
  color: #f26d21;
}

.user-5 {
  color: #ad2a1a;
}

.user-6 {
  color: #3c1361;
}