:root {
  --font-family-text: "Ubuntu", "Arial", sans-serif;
  --font-family-title: "Roboto", "Arial", sans-serif;
  --bg-color:#f7f7f7;
  --title-color: #08291c;
  --color-sender-box: #b9d1dc;
  --color-sender-text: #2d5668  ;
  --color-receiver-box: #6ecba0;
  --color-receiver-text: #244a3d;
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--bg-color);
}

output {
  font-style: italic;
  font-weight: 400;
  padding-left: 0.25em;
}

ol {
  font-family: var(--font-family-text);
}

.box-wraper {
  width: 40em;
  max-width: 50em;
  height: auto;
  border-radius: 0.5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
  margin-bottom: 10em;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background-color: #f8f8f8;
}

.header-menu {
  background-color: #cceabb;
  border-radius: 0.5em 0.5em 0 0;
  width: 100%;
  padding: 1.25em 0 1em;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  font-family: var(--font-family-title);
  color: #346d57;
  font-size: 2em;
}

.messages {
  background-color: #f1f1f1;
  list-style: none;
  padding: 1.25em 0.5em 0 0.5em;
  margin: 0;
  height: 20em;
  overflow: auto;
}

.left {
  background-color: var(--color-receiver-box);
  color: var(--color-receiver-text);
  float: left;
  clear: both;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding: 1rem;
  width: auto;
  max-width: 80%;
}

.right {
  background-color: var(--color-sender-box);
  color: var(--color-sender-text);
  float: right;
  clear: both;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding: 1rem;
  width: auto;
  max-width: 80%;
}

.form-wrapper {
  display: grid;
  margin-top: 1em;
  padding: 1em 1em 0.25em 1em;
  gap: 0.25em;
  width: 100%;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: repeat(3, minmax(2em, auto));
  grid-template-areas:
    "a a b"
    "c . ."
    "d . .";
}

input[type="text"] {
  border-radius: 50px;
  padding-left: 0.75em;
  height: 3.5em;
  width: 100%;
  outline: none;
}

.input-message {
  grid-area: a;
}
.submit-button {
  grid-area: b;
  height: 3.5em;
  display: inline-block;
  border-radius: 50px;
  background-color: #346d57;
  font-weight: 700;
  color: #cceabb;
  /* font-size: 1.25em; */
  
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
}

.submit-button:hover {
  background-color: #428f71;
  animation: 0.1s;
}

.user {
  background-color: inherit;
  grid-area: c;
  justify-self: start;
  font-weight: 700;
  margin: 0.55em;
}

.is-typing {
  grid-area: d;
  font-size: 0.75em;
  margin: 0.55em;
}

.time {
  font-size: 0.75em;
}